@charset "UTF-8";
@font-face { font-family: 'NEXON Lv1 Gothic OTF Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); font-weight: normal; font-style: normal; }


body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#fffaed;

}
tbody{
	background-color:#fff;
}
.sidebar{
	margin-left:0px;
}

.sidebar{
    text-align: center;
    position: fixed;
    background-color:#ffd04f; 
    width: 18%;
    height: 100%;
}
.section-area{
    background-color:#ffd04f; 
    position: fixed;
    right:0px;
    width: 80%;
    height: 100%;
} 
.logo img{

    width: 50%;
}
.menubtn{
    height:8%;
    font-size: 2vw;

}
.menubtn>div{
    height:100%;
    line-height: 2.6;
    padding: 0px;
}
.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}
.menubtn a{ 
    text-decoration:none;
    color: black;
    border: 0px solid white;
    display:block;
    height: inherit;
}
.menubtn a:hover{ 
    text-decoration:none;
    color:white;
    /*                background-color: #fcbb42;*/
    transition-duration: 0.1s;
    /*	            transform: translate(9%,-5%);*/
}

.admin-h2{
	font-family: 'NEXON Lv1 Gothic OTF Bold';
}

.admin_text{
    	font-family: 'Noto Sans KR', sans-serif;
}
.admin_menubar_text{
   	font-family: 'NEXON Lv1 Gothic OTF Bold';
 
}