@charset "UTF-8";

* {
	box-sizing: border-box;
}

.header-wrap>div {
	position: relative;
}

.navibar {
	/*font-size: 14pt;*/
	
}

.slide-area {
	/*height:700px;*/
	
}

.slide-area img {
	/*height:600px;*/
	
}


.navi-menu {
	margin-right:30px;
}

.navi-menu>a {
	color: #212529 !important; 
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size:20pt !important;
}

.navi-menu>a:hover {
	text-decoration: none;
	color: #212529;
}

.navi-menu>a:visited {
	color: #212529;
}

.footer {
	height: 200px;
	background-color: #274555;
	color: #fdc23e;
	font-size: 9pt;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	position: absolute;
}

.footer-menu > a:link {
	color: #fdc23e;
	text-decoration: none;
}

.footer-menu > a:hover{
	color: #fdc23e;
	text-decoration: none;
}

.footer-menu > a:visited{
	color: #fdc23e;
	text-decoration: none;
}

.main-login {
	font-size: 9pt;
	font-family: 'Noto Sans KR', sans-serif;
}

.header-wrap {
	
}

.carousel-caption {
	top: 60%;
}

.carousel-indicators {
	top: 80%;
}

.carousel-caption>h1 {
	font-family: 'Black Han Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
}

#newMsg{
	margin-top:5px;	
}

.index-copyright {
	color: #ff7761;
}

.logo-image>a>img {
	width: 100%;
}

$('
.carousel ').carousel ({
	interval: 2000
}

)
