@charset "UTF-8";

  *{
      box-sizing: border-box;
}

.login-container{
    padding-top: 20px;
    margin: auto;
    width: 30%;
    height: 70%;
}

.login_text{
    font-family: 'Noto Sans KR', sans-serif;
} 

#findId:hover, #findPw:hover{
    color: blue;
    cursor: pointer;
}

#find-container>div{
    text-align: center;
    width: 50%;
    margin: auto;
}

#find-container{
    margin-bottom: 40px;
}

#btnBox{
    width: 50%;
    margin: auto;
}

#loginBtn{
    font-family: 'Noto Sans KR', sans-serif;
} 

#SignupBtn{
    font-family: 'Noto Sans KR', sans-serif;
}

 #kakaoLoginBtn> img{
     margin-top: 10px;
     margin-bottom: 10px;
}