@charset "UTF-8";

* {
	box-sizing: border-box;
}

#contents {
	display: inline-block;
	float: left;
	width: 80%;
	height: 100%;
}

.myinfo_text {
	font-family: 'Noto Sans KR', sans-serif;
}
#profile_box > img{
    width: 50px;
    height: 50px;
}

#mypage_table{
	margin:20px;
    width: 90%;
}