@charset "UTF-8";

.party_headline {
	font-family: 'Noto Sans KR', sans-serif;
}

form {
	font-family: 'Noto Sans KR', sans-serif;
	weight: 200;
}

.party-titlelabel {
	font-family: 'Noto Sans KR', sans-serif;
	weight: 400;
}
