@charset "UTF-8";

*{
    box-sizing: border-box;
}

.signup_text{
    font-family: 'Noto Sans KR', sans-serif;

}

.signup-container{
    padding-top: 20px;
    width: 50%;
    height: 70%;
    margin: auto;
}

#privateAgree{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

#