@charset "UTF-8";

  *{
      box-sizing: border-box;
}

.withdraw_text{
    font-family: 'Noto Sans KR', sans-serif;
}

#mail{
    margin: 20px;
}

.contents_container{
    padding-top: 20px;
    width: 50%;
    height: 70%;
    margin: auto;
}