<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberFile">
	<insert id="uploadProc">
		insert into memberfile
		values(memberfile_seq.nextval,#{sysname},#{oriname},#{parent_id},#{realpath})
	</insert>

</mapper>