<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Party">
	<!-- by 수지 다음 시퀀스  -->
	<select id="getNextval" resultType="int">
		 select party_seq.nextval from dual 
	</select>
	<!-- by 수지 모집 생성 -->
	<insert id="insert">
		insert into party values (#{seq},#{parent_name},
		#{parent_address},
		#{title}, #{writer}, #{meetdate}, #{count},
		#{gender}, #{age},
		#{drinking}, #{content},#{status},#{place_id},
		#{imgaddr},0)
	</insert>
	<!-- by 수지 파티 참가 -->
	<insert id="partyJoin">
	insert into partylist values (#{seq},#{nickname},-1)
	
	</insert>
	<!-- by 수지 모임 삭제 -->
	<delete id="delete">
		delete from party where seq = #{value}
	</delete>
	<!-- by 수지 모임 수정 -->
	<update id="update">
		update party set parent_name = #{parent_name},
		parent_address =
		#{parent_address}, title = #{title}, meetdate =
		#{meetdate},
		count=#{count},
		gender=#{gender},age=#{age},drinking=#{drinking},content=#{content},place_id=#{place_id}
		where seq=#{seq}
	</update>
	<!-- by 수지 모임 보기 -->
	<select id="selectBySeq" resultType="coma.spring.dto.PartyDTO">
		select * from party where
		seq = #{value} order by seq desc
	</select>
	<!-- by 수지 모임 총정원수 구하기 -->
	<select id="getPartyCount" resultType="int">
		select count from party where seq=#{value}
	</select>
	<!-- by 수지 계정당 모임 생성수 구하기 -->
	<select id="getMadePartyCount" resultType="int">
		select count(*) from party where writer=#{value} and status=1
	</select>
	<!-- by 수지 모임 현재 참여자수 확인 -->
	<select id="getParticipantCount" resultType="int">
		select count(*) from partylist where CHATSEQ_PARENT=#{value}
	</select>
	<!-- by 수지 모임 참가자인지 확인 -->
	<select id="isPartyParticipant" resultType="int">
		select count(*) from partylist where chatseq_parent=#{seq} and participant = #{nickname}
	</select>
	<!-- by 예지 장소 아이디의 별 모임 갯수 -->
	<select id="getArticleCount" resultType="int">
		select count(*) from
		party where place_id = #{place_id}
	</select>
	<!-- by 예지 장소 아이디별 모임 리스트 : 페이지별 리스트 -->
	<select id="selectByPageNo" resultType="coma.spring.dto.PartyDTO">
		select * from (select party.*, row_number() over(order by
		seq desc) as rnum
		from party where place_id = #{place_id}) where rnum
		between #{start}
		and #{end}
	</select>
	<!-- by 수지 모집 종료하기 -->
	<update id="stopRecruit">
		update party set status = 0 where seq = #{value}
	</update>
	<!-- by 예지 모임 전체 갯수 -->
	<select id="selectAllCount" resultType="int">
		select count(*) from party
	</select>
	<!-- by 태훈 모임 리스트 -->
	<select id="selectList" resultType="coma.spring.dto.PartyDTO">
		<!-- select * from party where status = 1 order by seq desc -->
		select * from (select party.*, row_number() over(order by status desc, seq desc) as
		rnum from party) where rnum between #{start} and #{end}
	</select>
	<!--by 태훈 상세 검색 -->
	<!-- <select id="partySearch" resultType="coma.spring.dto.PartyDTO">
		select * from party
		<trim prefixOverrides="or" prefix="where">
			<if test="address != ''"> parent_address like '%${address}%'</if>
			<if test="gender != null"> or gender = '${gender}'</if>
			<if test="ageList.size != 0"> or age like
				<foreach collection="ageList" item="aa" open="" close="" separator="or age like">
					'%${aa}%'
				</foreach>
			</if>
			<if test="drinking != 2">or drinking = ${drinking}</if>
			<if test="title != ''">or title like '%${title}%'</if>
			<if test="writer != ''">or writer like '%${writer}%'</if>
			<if test="content != ''">or content like '%${content}%'</if>
			<if test="both != ''">or title like '%${both}%' or content like '%${both}%'</if>
		</trim>
		order by seq desc
	</select> -->
	<!--by 태훈 상세 검색 -->
	<select id="partySearch" resultType="coma.spring.dto.PartyDTO">
		select * from (select party.*, row_number() over(order by seq desc) as rnum from party
		<trim prefixOverrides="or" prefix="where">
			<if test="address != ''"> parent_address like '%${address}%'</if>
			<if test="gender != null"> or gender = '${gender}'</if>
			<if test="ageList.size != 0"> or age like
				<foreach collection="ageList" item="aa" open="" close="" separator="or age like">
					'%${aa}%'
				</foreach>
			</if>
			<if test="drinking != 2">or drinking = ${drinking}</if>
			<if test="title != ''">or title like '%${title}%'</if>
			<if test="writer != ''">or writer like '%${writer}%'</if>
			<if test="content != ''">or content like '%${content}%'</if>
			<if test="both != ''">or title like '%${both}%' or content like '%${both}%'</if>
		</trim>
		 )where rnum between ${start} and ${end}
	</select>
	<!-- by 태훈 모임 갯수 -->
	<select id="getListCount" resultType="int">
		select count(*) from party
	</select>
	<!-- by 지은 작성자 별 모집 리스트 쿼리문 수정: 반장인 방과 아닌 방을 구분하기 위해서 채팅방에 참여중인 모든 리스트를 출력하는 것으로 수정함_20200708 -->
	<select id="selectByWriterPage" resultType="coma.spring.dto.PartyDTO">
		select * from (select party.*, row_number() over(order by
		seq desc) rnum from party where seq in (select chatSeq_parent from partylist where participant = #{nickname})) where rnum between
		#{start} and #{end}
	</select>
	<!-- by 지은 작성자 별 모임 글 갯수 -->
	<select id="getMyPageArticleCount" resultType="int">
		select count(*) from party where seq in (select chatSeq_parent from partylist where participant = #{value})
	</select>
	<!--  by 수지 블랙리스트 체크 -->
	<select id="userBlockedConfirm" resultType="int">
      select count(*) from blacklist where chatSeq_parent= #{seq} and blocked = #{name}
   </select>
   <!-- by 태훈 모임 글 신고 -->
   <update id="partyReport">
   		update party set report = report+1 where seq = #{seq}
   </update> 
   <!--  by 수지 모임별 현재인원수 및 제한인원수 구하기 -->
   <select id="getPartyCounts" resultType="coma.spring.dto.PartyCountDTO">
   		select DISTINCT  p.seq, p.count as pull, (select count(*) from partylist where chatseq_parent = p.seq) as count from party p INNER join partylist l on p.seq = l.chatseq_parent where p.seq=#{value}
   </select>
   <!-- by 수지 모집 재시작하기 -->
	<update id="restartRecruit">
		update party set status = 1 where seq = #{value}
	</update>
</mapper>