<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	<!-- navi 카운트 -->
	<select id="getQuestionCount" resultType="int">
		select count(*) from msg
		where msg_sender = #{msg_receiver} and msg_receiver='administrator'
		and	msg_title like '%[1:1문의]%'
	</select>
	
	<!-- select문 -->
	<select id="selectByQuestion" resultType="coma.spring.dto.QuestionDTO">
		select * from (select 
		msg.*, row_number() over(order by msg_date desc)
		rnum from msg where
		msg_sender = #{msg_receiver} and
		msg_receiver = 'administrator' and
		msg_title like '%[1:1문의]%') where rnum between
		#{start} and #{end}
	</select>
	
	<insert id="insertQuestion">
		insert into msg values(msg_seq.nextval,#{msg_sender},'administrator','[1:1문의]문의글입니다',#{msg_text},sysdate,0,0,0)
	</insert>
</mapper>