<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	<select id="getNextval" resultType="int">
		select msg_seq.nextval from dual
	</select>

	<!-- navi 카운트 -->
	<select id="getQuestionCount" resultType="int">
		select count(*) from msg
		where msg_sender = #{msg_receiver} and msg_receiver='administrator'
		and	msg_title like '%[1:1문의]%' and
		receiver_del=0
	</select>
	
	<!-- select문 -->
	
	<!-- 회원 페이지 관리자 list -->
	<select id="selectByQuestion" resultType="coma.spring.dto.QuestionDTO">
		select * from (select 
		msg.*, row_number() over(order by msg_date desc)
		rnum from msg where
		msg_sender = #{msg_receiver} and
		msg_receiver = 'administrator' and
		msg_title like '%[1:1문의]%' and
		receiver_del=0) where rnum between
		#{start} and #{end}
	</select>
	
	<!--메세지 보기 -->
	<select id="selectBySeq" resultType="coma.spring.dto.QuestionDTO">
		select * from msg where
		msg_seq = #{value}
	</select>
	
	<!-- 관리자 페이지 네비 카운트 -->
	<select id="getAdminQCount" resultType="int">
		select count (*) from msg
		where msg_title like '%[1:1문의]%' and msg_sender != 'administrator' and sender_del=0
	</select>
	
	<!-- 답변에 view값 넣어주기 -->
	<select id="selectByView" resultType="coma.spring.dto.QuestionDTO">
		select * from msg where msg_view = #{value}
	</select>
	
	<!-- 관리자 페이지 1:1문의 -->
	<select id="selectByAdminQ" resultType="coma.spring.dto.QuestionDTO">
		select * from(select
		msg.*,row_number() over(order by msg_date desc)
		rnum from msg where
		msg_title like '%[1:1문의]%' and msg_sender != 'administrator'  and sender_del=0) where rnum between
		#{start} and #{end}
	</select>
	<insert id="QuestionAnswer">
		insert into msg values(#{msg_seq},'administrator',#{msg_receiver},#{msg_title},#{msg_text},sysdate,#{msg_view},0,0)
	</insert>
	<insert id="insertQuestion">
		insert into msg values(msg_seq.nextval,#{msg_sender},'administrator',#{msg_title},#{msg_text},sysdate,0,0,0)
	</insert>
	
	
	<update id="answerUpdate">
		update msg set msg_view=#{msg_view} where msg_seq=#{msg_seq}
	</update>
</mapper>